.user-details{
    background: #445252;
    height: 300px;
    margin-left: 2.2%;
    border: 0.1px ;
    border-radius: 15px;
}
.user-image{
    padding-top: 4%;
}
.user-body{
    color: white;
}
.user-body .points{
    padding-top: 20px;
    padding-bottom: 10px;
}
.goto{
    text-align: center;
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 18px;
}
a{
    color: #EFEBD9;
}
a:hover {
    color: #B1B336;
}
.signin{
    margin-right: 0;
}
